
<div ng-controller="NavCtrl">
    <div class="grey darken-4 shows-navigation">
        <a href="#!/showslist" class="logo">Shows Around</a>
        <div ng-if="isSpotify" class="input-field">
            <input id="artist-search" type="text" ng-model="newArtist.name" placeholder="Search For Other Artist" >
            <a href="" ng-click="getNewArtist()"><i class="material-icons">search</i></a>
        </div>
        <ul id="" class="show-nav-links">
            <li ng-if="isSpotify"><a href="" data-target='locationModal'  modal>Location</a></li>
            <li ng-if="isSpotify"><a ng-href="#!/trackedshows" >Tracked Shows</a></li>
            <li ng-if="!isLoggedIn"><a href="#" title="" >Login</a></li>
            <li ng-if="isLoggedIn"><a href="#" ng-click="logout()" >Logout</a></li>
        </ul>
    </div>




    <!-- LOCATION MODAL -->
    <div id="locationModal" class="modal center">
        <div class="modal-content">
            <h4>Choose Your Location</h4>
            <input type="text" autofocus="true" placeholder="City Name" ng-model="newLocation.city">
            <button ng-click="newCity(); reloadPage()" class="center btn waves-effect waves-light blue">Enter City</button>
            <p>-OR-</p>
            <button ng-click="getCurrentLocation()" data-target="loadingModal" class="center btn waves-effect waves-light red modal-close" modal>Use Current Location</button>
        </div>
        <!-- end modal-content -->
        <div class="modal-footer">
            <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>
    <!-- END LOCATION MODAL -->

<!-- LOADING MODAL -->
<div id="loadingModal" class="modal">
    <div class="modal-content">
        <div class="card">
            <div class="card-image">
              <img class="flip" src="images/van.gif">
              <p class="card-title center">Arriving At Your City</p>
            </div>
        </div>
    </div>
</div>
<!-- END LOADING MODAL -->

</div><!-- End ng-controller -->














